html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica, Arial, 'sans-serif';
  font-weight: 400;
}

h1, h2, h3 {
  font-weight: 400;
}

#title {
  padding: 0 20px 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#title h1 {
  display: inline-block;
}

#title img {
  float: right;
  width: 140px;
  margin-right: -20px;
}

#legend {
  padding: 0 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: .75em;
}

#current {
  padding: 0 20px 20px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;
}

li.key {
  display: inline-block;
  border-top-width: 15px;
  border-top-style: solid;
  width: 10%;
}

path {
  stroke: #fff;
  cursor: pointer;
}

path:hover {
  opacity: .7;
}

text.label {
  cursor: pointer;
  color: #fff;
  text-shadow: 1px 0 0 rgba(255,255,255,.8), -1px 0 0 rgba(255,255,255,.8), 0 1px 0 rgba(255,255,255,.8), 0 -1px 0 rgba(255,255,255,.8);
}
